@import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture&display=swap');
@import url("https://fonts.googleapis.com/css?family=Black+And+White+Picture|Yesteryear&display=swap");
nav {
    color: #fff;
    font-family: 'Black And White Picture', sans-serif;
    margin-bottom: 5%;
}
nav img{
    color: #fff;
}
footer{
    color: #fff;
    font-size: 20px;
    font-family: 'Yesteryear', cursive;
}
#con-1{
    background-color:rgba(26, 27, 26, 0.685);
    margin-top: 5%;
    font-family: 'Black And White Picture', sans-serif;
    color: #fff;
    font-weight: 280;
    font-size: 20px;
}
nav img{
    font-family: 'Black And White Picture', sans-serif;
}
body{
    background-image: url('https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max:width= 450px){
    #con-1{
        width: 100%;
    }
}


