<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm' id="form">
            <div class="form-group ">
              
              <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.name" name="name" #name="ngModel" placeholder="Enter Your Name..." required>
              <div [hidden]="!name.valid || !name.pristine" class="alert alert-danger">
                <p> enter name</p>
              </div>
            </div>
            <div class="form-group ">
              <input type="text" required class="form-control text-center" id="publisher" [(ngModel)]="newQuote.publisher" name="publisher" #publisher="ngModel" placeholder="Publisher's name..." required>
              <div [hidden]="!name.valid || !name.pristine" class="alert alert-danger">
                <p> enter publisher name</p>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.description" name="description" #description="ngModel" placeholder="Enter Quote Here" required></textarea>
              <div  [hidden]="!description.valid || !description.pristine" class="alert alert-danger">
                <p> Description is Required</p>
   
              </div>
   
            </div>
            <div class="form-group col-md-6">
              <input type='date' class="form-control"id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" placeholder="Date" required>
              <div [hidden]="!completeDate.valid || completeDate.pristine" class="alert alert-danger">
                <p> Complete Date is Required</p>
              </div>
          
          </div>
          <button [disabled]="!quoteForm.form.valid" id= "btn" type="submit" class="btn btn-success btn-lg"><i
            class="	fa fa-plus-square"></i></button>
        </form>
      
    </div>
  </div>
 </div>